<h2>Review</h2>
    <b>Please review your answers prior to submitting. When you are ready to submit, you can click the button below.</b>
<br><br>
<div class="container">
   <table class="table">
       <thead>
           <tr>
               <th scope="col">Question Number</th>
               <th scope="col">Question</th>
               <th scope="col">Your Answer</th>
           </tr>
       </thead>
       <tbody>
           <tr>
                <td>Question 1</td>
                <td>What is 1+1?</td>
                <td>{{check1}}</td>
           </tr>
           <tr>
                <td>Question 2</td>
                <td>What is 2+8?</td>
                <td>{{check2}}</td>
            </tr>
            <tr>
                <td>Question 3</td>
                <td>What color is grass?</td>
                <td>{{check3}}</td>
            </tr>
            <tr>
                <td>Question 4</td>
                <td>What sound does a cat make?</td>
                <td>{{check4}}</td>
            </tr>
       </tbody>
       </table>

</div>
<br>

<button type="submit" class="btn btn-success">Submit Answers</button>
<br><br>
<i>(need to pull the answers in so that the quiz taker can review their answers prior to submission or return back to the quiz page to modify answers)</i><br><br><br>

