<h2>Welcome!</h2>

<div class="container">
    <b>Welcome {{name}}! </b><br><br>
    When you are ready to start your test, please click <a routerLink="/takequiz">here.</a><br>
</div>
<br>

<div class="container">
    <i>Using this button to check back-end connection</i>><br>
    <button (click) = getWelcomeMessage() class="btn btn-success">Get your Results</button>
</div>

<br>
<br>

<div class="container" *ngIf="welcomeMessageFromService">
    <h3>Results from service test:</h3>
    {{welcomeMessageFromService}}
</div>