<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
       <div>
        <span style="color:aliceblue"><b>Online Test Application</b></span>
    </div>
    <ul class="navbar-nav">
        <li><a routerLink="/welcome/simplilearn" class="nav-link">Home</a></li>
    </ul>

    <ul class="navbar-nav navbar-collapse justify-content-end">
        <li><a routerLink="/login" class="nav-link">User Login</a></li>
        <li><a routerLink="/admin" class="nav-link">Admin Login</a></li>
    </ul>
    </nav>

</header>