<h1>Welcome to your Quiz!</h1>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Question Number</th>
            <th scope="col">Question</th>
            <th scope="col">Answer?</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Question 1</td>
            <td>sample verbiage</td>
            <td><input type="text" name="answered" id="answered"></td>
        </tr>
    </tbody>
</table>

<div>
    <button (click)="saveAndReview()" class="btn btn-success">Save & Review</button>
</div>
